
<div class="navbar navEdit navbar-default navbar-fixed">
    <nav class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navCollapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse navCollapse">
            <ul class="nav navbar-right navbar-nav">
                <li role="presentation" class="active"><a href="#/">Home</a></li>
                <li role="presentation"><a href="#about">About</a></li>
                <li role="presentation"><a href="#skills">Skills</a></li>
                <li role="presentation"><a href="#interests">Interests</a></li>
                <li role="presentation"><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </nav>
</div>