
<!--
Project Name: Assignment 1 (Personal Portfolio)
By: Nick Rowlandson
Student ID: 200167125
-->

<div class="content">
    <h3><strong>Skills</strong></h3><br \>
    <div class="customWell">
        <strong><li>Windows XP/7/8.1/10 </li>	
        <li>AutoCAD, Blender</li>
        <li>Word/Excel/Powerpoint</li>
        <li>NetBeans, Visual Studio 2013</li>
        <li>Agile/SCRUM Methodolgies</li>		
        <li>JAVA, C#</li>
        <li>PHP, express, Node.js, Angular</li>
        <li>MySQL, DB2, mongoDB</li>
        <li>HTML/CSS/Bootstrap</li>
        <li>Database Design</li> 
        <li>Debugging/Documentation</li>				
          <li>Critical Thinking/Analysis</li></strong>
    </div>
</div>