<!--
Project Name: Assignment 1 (Personal Portfolio)
By: Nick Rowlandson
Student ID: 200167125
-->

<div class="content">
    <h3><strong>Interests</strong></h3><br \>
    <div class="customWell">
        <div><img src="../../assets/img/camp.png" width="200px" class="imgBorder"/><strong>Camping Outdoors</strong></div>
        <div><img src="../../assets/img/reefTank.png" width="200px" class="imgBorder"/><strong>Reef Keeping</strong></div>
        <div><img src="../../assets/img/sailboat.png" width="200px" class="imgBorder"/><strong>Sailing Georgian Bay</strong></div>
    </div>
</div>